body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  box-sizing: border-box;
}

h1{
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h1::after{
  display: block;
  margin: 0;
  padding: 0;
  content: '___';
  color: #149ddd;
}


.info, .error{
  display: block;
  margin: 1em 0;
  padding: 1em;
  border-top: 1px solid #464852;
  font-style: oblique;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
}

.error{
  color: #bd1111;
}

.loadingGif{
  display: block;
  width: fit-content;
  margin: 1em auto;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover{
  color: #149cdb;
  cursor: pointer;
}