main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-wrap: break-word;
    overflow-x: hidden;
    background-color: #fff;
}

.contentDiv{
    margin: 0;
    padding: 2%;
}

@media screen and (min-width: 1200px){
    main{
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        
    }
}