.pagination-btn-panel{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
}

.pagination-btn-panel button{
    height: 2.5em;
    width: 40%;
    border: 1px solid #464852;
    border-radius: 1em;
    box-shadow: 0 0 10px 5px #00000040;
    font-weight: 700;
    font-size: 1em;
    background-color: #fff;
}

.pagination-btn-panel button:hover{
    background-color: rgba(20, 156, 219, 0.5);
    cursor: pointer;
}

.pagination-btn-panel button:active{
    color: #fff;
    background-color: rgb(20, 156, 219);
}

@media screen and (min-width: 750px){
    .pagination-btn-panel button{
        width: 15%;
    }
}

@media screen and (min-width: 1200px){
    .pagination-btn-panel button{
        width: 10%;
    }
}