.project h1, .project h1::after{
    all: initial;
}


.project svg{
    display: none;
}

.project h1, .project h2, .project h3, .project h4{
    display: block;
    margin-top: 4vh;
    margin-bottom: 1vh;
    border-bottom: 1px solid black;
    font-family: "Raleway", sans-serif;
}

.project h1{
    border-bottom: unset;
    font-size: 2em;
    font-weight: 700;
}

.project h3{
    width: fit-content;
}

.project pre{
    background-color: #f6f8fa;
    padding: 1em;
    overflow-x: hidden;
}

.button{
    margin: 0;
    padding: 1%;
    height: 3em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:active{
    color: #149cdb;
}

.button:hover{
    background-color: black;
    color: #fff;
}